asgiref==3.8.1
Django==5.1.8
django-debug-toolbar==5.1.0
django-environ==0.12.0
django-extensions==3.2.3
pillow==11.1.0
sqlparse==0.5.3
tzdata==2025.2
openpyxl==3.1.2
xlsxwriter==3.2.3
chardet==5.2.0
reportlab==4.4.0
numpy==2.2.5
pandas==2.2.3
pytz==2025.2
apscheduler==3.11.0
django-apscheduler==0.7.0
tzlocal==5.3.1
pytest==7.4.3
pytest-django
